.container {
    
    width: 100%;
    padding: 10px;
    background: linear-gradient(326deg, #222127 75%,#10101087 32%, #14555a 84%,#00d8e9 98%);
    transition: 1s all;
    position: absolute;
    box-shadow: -1px -2px 20px 0 rgb(0 0 0 / 91%);
    bottom: 0;
    height: 33%;
    border-radius: 27px 0 0 0;
}
