.layout {
    position: relative;
    overflow: hidden;
    height: 100%;
    width: 100%;
    display: grid;
    grid-column: 100px;
    grid-template-areas:
        "sidebar header header"
        "sidebar body info";

    grid-template-rows: 60px;
    grid-template-columns: 300px auto 200px;

    .sidebar {
        grid-area: sidebar;
        background-color: blue;
        height: 100%;
        .sideHead {
            display: grid;
            grid-template-areas: "logo tittle title";
            grid-template-columns: 50px auto;
            place-items: center;
            padding: 10px;
            width: 100%;
            height: 60px;
            background: linear-gradient(125deg, #a30c0c, #1e1e1e);
            svg{
                fill: black
            }
            h3{
                color: #857e73;
            }
        }
    }
    .info {
        grid-area: info;
        background-color: rgb(184, 184, 184);
        height: 100%;
        width: 100%;
    }
    .header {
        grid-area: header;
        background-color: #1e1e1e;

        width: 100%;
    }
    .body {
        grid-area: body;
        background-color: rgb(245, 134, 8);
        width: 100%;
    }
}
